/* Parámetros globales de Maquetación y Estilo */

body {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	float: none;
	position: relative;
	background: url('') no-repeat top center fixed;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, a { font-family: 'Quicksand', sans-serif;}

a {
    color: #ffffff;
    text-shadow: 1px 1px 7px #707070;
    font-size: 1.2em;

}

h1{
    color: #707070;
    font-size: 3em;
    font-style: normal;
    text-align: left;
}

h2{
    text-shadow: 50px;
    color: #ffffff;
    text-shadow: 1px 5px 6px #707070;
    font-size: 3em;
    text-align: center;
    font-weight: 300;
    
}

h3{
    text-shadow: 50px;
    color: #ffffff;
    text-shadow: 1px 5px 6px #707070;
    font-size: 2em;   
    
}

h4{
    color: #707070;
    display: block;

}



i{
    color: #A7BFE0;
    font-size: 2em;
}



/* Estilo propio del sitio web */






header {
    width: 100%;            /*Anchura*/
    height: 60px;          /*Altura*/
    display: block;         /*Despliegue*/
    margin: 0 none;              /*Margen*/
    float: none;            /*Lado hacia el que flota*/
    position: fixed;        /* fixed / absolute / relative / sticky(JS) */
    
    top: 0;                 /*Solo sirven para posiciones fijas y absolutas*/
    left: 0;
    z-index: 99990;
    text-shadow: 0.5px;
   
    
    background: #A7BFE0;    /*Color de fondo*/
    
}


header article {
    width:100%;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: center;
    position: relative;
    
    
}

header article nav#menu-primcipal 
header article nav#menu-principal a {
    padding: 0 50px 0 0;
}


header article nav#menu-principal {
    width: 450px;
    height: 1px;
    display: block;
    margin: 20px 0 0 600px;
    float: center;
    position: relative;
    padding: 0 90px 0 0;
}

header article nav#menu-idioma{
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    float: right;
    position: relative;
    padding: 0 90px 0 0;
}
header article nav#menu-idioma a { 
    width: 100%;
    height: 100%;
    display:block;
    margin: 0 none;
    float: left;
    position: relative;
}

header article nav#menu-principal h1{
    padding: 0 10px 0 0;
    display: block;
}

main {
    width: 100%;
    height: auto;
    display: block;
    margin: 60px auto 0 auto;
    float: none;
    position: relative;
    background-color: #A7BFE0;
}

main section#banner-inicio {
    width: 100%;
    height: 900px;
    display: block;
    margin: auto;
    float: none;
    position: relative;
    background-image: url("../img/presentacion\ 2.png");
    
}

main section#banner-inicio h1 {
    padding: 300px 0px 25px 50px;
    font-size: 4em;
}

main section#banner-inicio h4 {
    padding: 0 0 75px 70px;
    font-size: 1.5em;
}

main section#trabajos {
    width: 100%;
    height: 600px;
    display: block;
    margin: auto;
    float: none;
    position: relative;
    background: #f0f0f0;
}


/*Centrar division*/

#caja-centrada {
    display: flex;
    text-align: center;
    margin: 10px 0px 10px 0px;
    background: rgb(191, 210, 238);
    box-shadow: 2px 4px 3px #707070;
}

.centrararticle h3 {
    text-align: center;
    
}


article.centar{
    width: 0;
    margin: 0;
    
    
}

#caja-centrada article a img{
width: 380px;
height: 250px;

}

#caja-centrada article {
        width: 50%;
}

div#caja-centrada .centrar {
    width: 90%;
    text-align: center;
    
   /* padding: 0px 20px 0px 20px;*/
}   

div#caja-centrada .centrar article p{
    text-align: right;
    display: inline;
    
}

/*Centrar division*/




main section#row-ilustracion {
	width: 100%;
    height: 350px;
    display: block;
    margin: auto;
    float: none;
    position: relative;
    
}
main section#row-ilustracion div#caja-centrada {
    width: 100%;
    height: 345px;
    display: block;
    margin: 0 auto;
    float: right;
    position: relative;
}
main section#row-ilustracion div#caja-centrada article:nth-child(1) {
    width: 790px;
    height: 300px;
    display: block;
    margin: 0 50px 0 0;
    float: left;
    position: relative;
}
main section#row-ilustracion div#caja-centrada article:nth-child(2) {
    width: 800px;
    height: 300px;
    display: block;
    margin: 0;
    float: left;
    position: relative;
}
main section#row-ilustracion div#caja-centrada article:nth-child(2) a{
    width: 254px;
    height: 300px;
    display: inline-block;
    margin: 0 6px;
    float: right;
    position: relative;
}
main section#row-ilustracion div#caja-centrada article:nth-child(2) a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: right;
    position: relative;
}



main section#row-animacion {
	width: 100%;
    height: 350px;
    display: block;
    margin: 10px 0px 10px 0px;
    float: none;
    position: relative;
    background: rgb(191, 210, 238);
    box-shadow: 2px 4px 3px #707070;
}

main section#row-animacion div#caja-centrada {
    width: 1200px;
    height: 300px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
   
}


main section#row-diseno-3d {
	width: 100%;
    height: 350px;
    display: block;
    margin: auto;
    float: none;
    position: relative;

}
main section#row-diseno-3d div#caja-centrada {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    
}

main section#row-diseno-3d div#caja-centrada article{
    width: 1200px;
    height: 300px;
    display: block;
    margin: 60px 60px 60px 60px;
    float: none;
    position: relative; 
    
}
  
main section#row-diseno-3d div#caja-centrada article a img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative; 
    
}

footer {
    width: 100%;
    height: 950px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    background-image: url("../img/presentacion\ 1.png");

}

footer section.footer {
    width: 100%;
    height: 100px;
    display: inline;
    margin: 0 auto;
    float: none;
    position: relative;
}

footer section.footer div#contacto{
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: 200px 0px 0px 0px;
    float: left;
    position: relative;
}

footer section.footer div#contacto h4{
    font-size: 2.6em;
    margin: 6px 0px 0px 150px;
}

footer div#contacto section.redes article {
    width: 400px;
    height: 200px;
    size: 80em;
    display: none;
    float: center;
}
footer div#contacto section.redes article a i{
        display: table-caption;
        width: 200px;
        height: 200px;
        size: 80em;
} 

section.redes {
    display: inline-block;

}
section.redes i{
    margin: 95px 0 0 0 ;
    padding: 160px 5px 0 190px;
    font-size: 3em;
    
}

/* Zona Responsive */

/*
Escritorio y TV         >= 1200px
Tablets                 <= 1199px --- >= 500px
Móviles                 <= 499px --- >= 340px
*/

@media only screen and (max-width: 1199px){    /*Tablets*/
    aside#menu-cortina {
        right: 0;
    }
}

@media only screen and (max-width: 1099px){
    
}

@media only screen and (max-width: 999px){
    
}

@media only screen and (max-width: 899px){
    
}

@media only screen and (max-width: 799px){
    
}

@media only screen and (max-width: 699px){
    
}

@media only screen and (max-width: 599px){
    
}

@media only screen and (max-width: 499px){     /*Móviles*/
    
}

@media only screen and (max-width: 449px){
    
}

@media only screen and (max-width: 399px){
    
}

@media only screen and (max-width: 349px){
    
}






